<!DOCTYPE html>
<html>
  <head>
    <title>VueTodo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'todo_vue' %>
    <%= stylesheet_pack_tag 'todo_vue' %>
  </head>
  <body>
    <section class="section">
      <p>
        <%= link_to 'To Dos', root_path %> | <%= link_to 'About', about_path %>
        <br><br>
      </p>
      <div class="container is-fluid">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
